
# [Git common alias]

alias gs='git status'

alias gc='git commit'
alias gcm='git commit -m '

alias ga='git add'
alias gaa='git add -A'
alias gap='git add -p'

alias gp='git push'

alias gf='git fetch'

# [Git work alias]
alias toroPath='Developer/ToroTeam'